@import "../variables";

.Animals {
    padding: 5px 0;
    margin: auto;
    &-Animal {
        height: 20vh;
        background: $animalBg;
        color: $animalColor;
        text-align: center;
        margin: 5px;
        position: relative;
        display: block;
        width: 30vw;
        line-height:80pt;
        font-size: 50pt;
        text-shadow: 0 0 2px $white;
        p {
            padding: 5px 0;
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: $light-blue;
            color: $dark-purple;
            font-size: 20px;
            line-height: 20px;
            margin: 0;
        }
    }
}
