@import "../variables";

.Animals {
    padding: 0px 20px;
    margin: auto;
    width: 95%;
    .slick-slide {
        h3 {
            background: $animalBg;
            color: $animalColor;
            line-height: 80px;
            text-align: center;
            font-size: 30px;
            margin: 5px;
            position: relative;
        }
    }
}
