$grey-dark: #333333;
$light-blue: #bdcde2;
$light-grey: #d1deef;
$lighter-blue: #e7eef7;
$yellow: #fdee6f;
$white: #fff;
$red: #6e6200;
$orange: #d8cb4a;
$dark-purple: #4d4d4d;
$teal500: #009688;
$tealA200: #64FFDA;
$lightGreen500: #8BC34A;
$lightGreenA200: #B2FF59;

$targetColor: $white;
$targetBg: $teal500;

$targetActiveBg: $tealA200;
$targetActiveColor: $grey-dark;
$targetActiveBorderColor: $dark-purple;

$groupColor: $white;
$groupBg: $lightGreen500;

$groupActiveBg: $lightGreenA200;
$groupActiveColor: $grey-dark;
$groupActiveBorderColor: $dark-purple;


$animalColor: $grey-dark;
$animalBg: $orange;
