$grey-dark: #333333;
$light-blue: #bdcde2;
$light-grey: #d1deef;
$lighter-blue: #e7eef7;
$yellow: #fdee6f;
$white: #fff;
$red: #6e6200;
$orange: #d8cb4a;
$dark-purple: #4d4d4d;

$targetColor: $white;
$targetBg: $dark-purple;

$targetActiveBg: $yellow;
$targetActiveColor: $grey-dark;
$targetActiveBorderColor: $dark-purple;

$groupColor: $white;
$groupBg: $light-blue;

$groupActiveBg: $yellow;
$groupActiveColor: $grey-dark;
$groupActiveBorderColor: $dark-purple;


$animalColor: $grey-dark;
$animalBg: $orange;
