@import "../variables";

.Groups {
    padding: 0px 20px;
    margin: auto;
    width: 95%;
    &-Item h3{
            background: $groupBg;
            color: $groupColor;
            line-height: 80px;
            text-align: center;
            font-size: 30px;
            margin: 5px;
            position: relative;
        }
    &-Item--active h3{
        background: $groupActiveBg;
        color: $groupActiveColor;
        border: 1px solid $groupActiveBorderColor;
        line-height: 80px;
        text-align: center;
        font-size: 30px;
        margin: 5px;
        position: relative;
    }
}
